body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #809864;
    color: #333;
    padding: 0;
    margin: 0;
}

header {
    background-color: #CE6259;
    color: #fff;
    padding: 10px 0;
    background: linear-gradient(to bottom, #CE6259, #FF9999);
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    height: 50px;
    width: auto;
}

.site-name {
    font-size: 1.8em;
    text-decoration: none;
    color: #fff;
}

.site-name:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.content-section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #333;
}

.content-section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

figure {
    position: relative;
    display: inline-block;
    margin: 0;
}

figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(43, 255, 0, 0.5);
    color: #fff;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 3px;
    text-align: right;
    margin: 0;
}

.responsive-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
}

.floating-footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
    z-index: 1000;
}

.floating-footer p {
    margin: 0;
}

@media (min-width: 768px) {
    header {
        padding: 50px 0;
    }

    .content-section {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    header {
        padding: 200px 0;
    }

    .content-section {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    footer {
        font-size: 0.8em;
    }
}
